<template>
  <div class="home">
    <featured/>
    <latest/>
  </div>
</template>

<script>
import Latest from '@/components/NewsLatest.vue'
import Featured from '@/components/NewsFeatured.vue'

export default {
  name: 'Home',
  components: {
    Latest,
    Featured
  }
}
</script>
