<template>
  <div id="nav">
    <img class="logo" alt="Logo" src="@/assets/thebahiatime-logo.png">
    <img class="logo-min" alt="Logo" src="@/assets/favico.png">
    <div class="links">
      <input v-model="search" v-on:keyup.enter="searchNYT" type="text">
      <button @click.prevent="searchNYT" type="button">{{searchtext}}</button>
    </div>
    <transition name="fade">
      <div class="modal" v-if="!loadingModal" v-show="modal">
        <div class="modal-container">
          <button class="btn btn-close float-right" @click="closeModal">X</button>
          <h1 class="modal-title"><span class="muted">Search:</span> {{search}}</h1>
          <div class="clearfix"></div>
          <div>
            <div class="card-holder search">
              <div class="card text-center fade-in" v-for="(search, index) in query" :key="index">
                <a :href="search.web_url" :target="setTarget()">
                  <div>
                    <div>
                      <h3 class="card-title">
                        {{search.headline.main}}
                      </h3>
                      <div>
                        <p class="card-description">{{search.abstract}}</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Navbar',
  data() {
    return {
      searchtext: 'Search',
      enabled: true,
      search: '',
      query: [],
      modal: false,
      loading: true,
      loadingModal: false,
    }
  },
  methods: {
    async searchNYT () {
      this.searchtext = 'Searching...'
      this.modal = true
      this.loadingModal = true
      console.log(`Checking name: ${this.search}`)
      await axios.get(`https://api.nytimes.com/svc/search/v2/articlesearch.json?q=${this.search}&api-key=SGYSwoovX3DJR5hAaueMzUZhY10Cwjoo`)
      .then(res => {
        console.log(res.data.response.docs)
        this.query = res.data.response.docs
        this.loadingModal = false
        this.searchtext = 'Search'
      })
      .catch(err => {
        console.log(err)
      })
    },
    closeModal () {
      this.modal = false
    },
    setTarget () {
			return this.enabled ? '_blank' : '_self'
		}
  }
}
</script>
<style>
#nav {
  overflow: hidden;
  padding: 30px 35px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav a {
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
.float-right{ float: right;}
.links{display: flex;}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #c1c1c1;
  margin-top: 50px;
}
.logo, .logo-min{
  width: 15vw;
}
input, button, select{padding: 10px;}
input, button, select{
  background-color: #fff;
  border: solid #000 2px;
}
.muted{ color:#999}
input:focus, button:focus, select:focus{
outline-color: #666;
}
button:hover, button:active{
  background-color: #fff;
  border: solid #666 2px;
}
.modal {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  padding: 0 30px;
  box-sizing: border-box;
  overflow-y: auto;
}
.modal-container {
  margin: 50px auto;
}
.modal-title {
  margin:10px 0 20px;
}
.card-holder.search .card{
 width:100%;
}
</style>
