<template>
  <div class="featured">
    <h1 style="color:#fff" class="text-xs-center">Featured Stories</h1>
    <div class="loader" v-if="loading">
				<div class="card-holder">
					<div class="card">
						<div class="placeholder-item"></div>
						<p></p>
						<div class="placeholder-item small"></div>
					</div>
					<div class="card">
						<div class="placeholder-item"></div>
						<p></p>
						<div class="placeholder-item small"></div>
					</div>
					<div class="card">
						<div class="placeholder-item"></div>
						<p></p>
						<div class="placeholder-item small"></div>
					</div>
				</div>
    </div>
    <div v-else>
				<div>
					<div style="color:#7d7d7d; margin-bottom:10px;" >Updated: {{lastUpdated}}</div>
					<div v-if="errors">
						<h1 style="color: red">Error fetching data</h1>
					</div>
					<div  class="card-holder" v-if="!errors">
						<div class="card text-center fade-in" v-for="(result, index) in results" :key="index">
							<a :href="result.url" :target="setTarget()">
								<div class="card-img-holder">
								<img :src="result.image_url" style="width:100%;">
								</div>
								<h3 class="card-title">
									{{result.title}}
								</h3>
								<p class="card-description">{{result.abstract}}</p>
							</a>
						</div>
					</div>
				</div>
    </div>
  </div>
</template>

<script>
	import axios from 'axios'
  import uuidv4 from 'uuid/v4'
  import dateFormat from 'dateformat'
	
export default {
	name: 'Featured',
	components: {
	},
  data() {
		return {
			limitationList: 2,
			section: 'home',
			loading: true,
			errors: false,
			enabled: true,
			lastUpdated: null,
			results: [],
			sections: [
				'home',
				'opinion',
				'world',
				'national',
				'politics',
				'upshot',
				'business',
				'technology',
				'science',
				'health',
				'sports',
				'arts',
				'books',
				'movies',
				'theater',
				'sunday review',
				'fashion',
				'tmagazine',
				'food',
				'travel',
				'magazine',
				'real estate',
				'automobiles',
				'insider'
			]
		};
	},
	methods: {
		makeFriendlyDate (d) {
			return dateFormat(d, 'dddd, mmmm dS, yyyy, h:MM TT')
		},
		setTarget () {
			return this.enabled ? '_blank' : '_self'
		},
		async changeSection (section) {
			this.section = section
			this.loading = true
			this.loadData(this.section)
		},
		processPosts () {
			let posts = this.results
			posts.map(post => {
				let imgObj = post.multimedia.find(
					media => media.format === 'superJumbo'
				)
				post.image_url = imgObj
					? imgObj.url
					: 'https://placehold.it/300x200?text=N/A'
				post.uuid = uuidv4()
			})
			this.results = posts
		},
		async loadData (section) {
			this.section = section.toLowerCase().replace(/\s/g, '')
			const response = await axios.get(`https://api.nytimes.com/svc/topstories/v2/${section}.json?api-key=SGYSwoovX3DJR5hAaueMzUZhY10Cwjoo`)
			this.results = response.data.results
			this.lastUpdated = dateFormat(
				response.data.last_updated,
				'dddd, mmmm dS, yyyy, h:MM:ss TT'
			)
			this.processPosts()
      const results = await response.data.results.map(async (item) => {
        return item
      })
      this.loading = false
      this.results = await Promise.all(results.slice(0, 3))
      console.log(this.section)
    },
	},
	computed: {},
	mounted() {
		this.section = 'home'
		this.loadData(this.section)
	},
}
</script>
<style>
	.featured{
		background-color: #191919;
		padding: 40px 35px 45px;
	}
  .full-height .flex {
    display: flex;
  }
  .full-height .flex>.card {
    flex: 1 1 auto;
  }
  .loader {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
  }
	.card-img-holder{
		overflow: hidden;
		max-height: 300px;
		margin-bottom: 20px;
	}
	.placeholder-item {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    min-height: 170px;
    min-width: 25vw;
	}
	.placeholder-item.small{
		border-radius: 4px;
    position: relative;
    overflow: hidden;
    min-height: 50px;
    min-width: 25vw;
	}
	.placeholder-item::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    bottom: 0;
    height: 250px;
    width: 500px;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    -webkit-animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}
.post:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.1);
	transition: all 200ms ease-in;
	transform: scale(1.1);
	cursor: pointer;
}
.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
	opacity: 0
}
.card-holder {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card {
	width: calc(33% - 60px);
	background-color: #fff;
	border-radius: 10px;
	margin: 20px 0;
	overflow: hidden;
	transition: all 0.3s;
	box-sizing: border-box;
}
.card:hover,
.card:active,
.card:focus {
  transform: scale(1.03);
}
.card-header {
  border-bottom: solid 6px #d5d5d5;
  background-color: #bebebe;
}
.card-title {
	margin: 0;
  padding: 20px;
  color: #222;  
}
.card-description {
	margin: 0;
  padding: 10px 20px 20px;
  color: #666;
}
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
  .card-holder {
    padding: 0;
  }
  .logo {
    width: 20vw;
    max-width: 150px;
	display: none;
  }
  #nav{
	flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .card {
    width: calc(50% - 8px);
  }
  .logo-min{display: none;}
}
@media (min-width: 998px) {
  .card {
    width: calc(33% - 6px);
  }
}
@media (min-width: 1280px) {
  .card {
    width: calc(33% - 15px);
  }
}
</style>