<template>
  <div class="latest">
    <h1 class="text-xs-center">Latest Stories</h1>
    <div class="loader" v-if="loading">
      <div class="card-holder">
        <div class="card">
          <div class="placeholder-item"></div>
					<p></p>
					<div class="placeholder-item small"></div>
        </div>
        <div class="card">
          <div class="placeholder-item"></div>
					<p></p>
						<div class="placeholder-item small"></div>
        </div>
        <div class="card">
          <div class="placeholder-item"></div>
					<p></p>
						<div class="placeholder-item small"></div>
        </div>
        <div class="card">
          <div class="placeholder-item"></div>
					<p></p>
						<div class="placeholder-item small"></div>
        </div>
        <div class="card">
          <div class="placeholder-item"></div>
					<p></p>
						<div class="placeholder-item small"></div>
        </div>
        <div class="card">
          <div class="placeholder-item"></div>
					<p></p>
						<div class="placeholder-item small"></div>
        </div>
        <div class="card">
          <div class="placeholder-item"></div>
					<p></p>
						<div class="placeholder-item small"></div>
        </div>
        <div class="card">
          <div class="placeholder-item"></div>
					<p></p>
						<div class="placeholder-item small"></div>
        </div>
        <div class="card">
          <div class="placeholder-item"></div>
					<p></p>
						<div class="placeholder-item small"></div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="change-section">
        <select @change="changeSection(section)" v-model="section" class="select-section">
          <option v-for="(section, index) in sections" :key="index" v-bind:value="section">
            {{ section }}
          </option>
        </select>
        <div v-if="errors">
          <h1 style="color: red">Error fetching data</h1>
        </div>
      </div>
			<transition name="fade">
				<paginate name="results" :list="results" class="card-holder" v-if="!errors" :per="9">
					<div class="card text-center fade-in" v-for="(result, index) in paginated('results')" :key="index">
						<a  :target="setTarget()" v-if="results && results.length > 0 && index <= limitationList">
							<div class="fade-in">
								<div>
									<h3 class="card-title">
										{{ result.title }}
									</h3>
									<div>
										<p class="card-description">{{ result.abstract }}</p>
										<button class="btn" type="button" style="margin-bottom:5px" @click="getNewsDetails(result)">Read More</button>
									</div>
								</div>
							</div>
						</a>
					</div>
				</paginate>
			</transition>
      <div class="pagination">
        <paginate-links for="results" :show-step-links="true" :async="true"></paginate-links>
        <paginate-links for="results" :simple="{ next: 'Next »', prev: '« Back' }" :async="true" ></paginate-links>
      </div>
    </div>
		<transition name="fade">
      <div class="modal" v-if="!loadingModal" v-show="modal">
        <div class="modal-container">
          <button class="btn btn-close float-right" @click="closeModal">X</button>
          <h1 class="modal-title">{{news_info.title}}</h1>
					<p>{{ news_info.abstract }}</p>
					<p>{{news_info.item_type}} - {{news_info.byline}}</p>
          <div class="clearfix"></div>
					<img :src="news_info.image_url" style="width:50%;">
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import axios from 'axios'
 import uuidv4 from 'uuid/v4'
import dateFormat from 'dateformat'

export default {
  name: 'Latest',
  components: {
	},
  data() {
    return {
      paginate: ['results'],
      limitationList: 8,
      section: 'home',
      loading: true,
      errors: false,
      enabled: true,
			lastUpdated: null,
			loadingModal: false,
			news_info: {},
			modal: false,
      results: [],
      sections: [
        'home',
        'opinion',
        'world',
        'national',
        'politics',
        'upshot',
        'business',
        'technology',
        'science',
        'health',
        'sports',
        'arts',
        'books',
        'movies',
        'theater',
        'sunday review',
        'fashion',
        'tmagazine',
        'food',
        'travel',
        'magazine',
        'real estate',
        'automobiles',
        'insider',
      ],
    };
  },
  methods: {
		processPosts () {
			let posts = this.results
			posts.map(post => {
				let imgObj = post.multimedia.find(
					media => media.format === 'superJumbo'
				)
				post.image_url = imgObj
					? imgObj.url
					: 'https://placehold.it/300x200?text=N/A'
				post.uuid = uuidv4()
			})
			this.results = posts
		},
    makeFriendlyDate(d) {
      return dateFormat(d, 'dddd, mmmm dS, yyyy, h:MM TT')
    },
    setTarget() {
      return this.enabled ? '_blank' : '_self'
    },
    async changeSection(section) {
      this.section = section
      this.loading = true
      this.loadData(this.section)
    },
    async loadData(section) {
      this.section = section.toLowerCase().replace(/\s/g, "")
      const response = await axios.get(
        `https://api.nytimes.com/svc/topstories/v2/${section}.json?api-key=SGYSwoovX3DJR5hAaueMzUZhY10Cwjoo`
      )
      this.results = response.data.results
      this.lastUpdated = dateFormat(
        response.data.last_updated,
        'dddd, mmmm dS, yyyy, h:MM:ss TT'
			)
			this.processPosts()
      const results = await response.data.results.map(async (item) => {
        return item
      })
      this.loading = false
      this.results = await Promise.all(results);
      console.log(this.section)
		},
		closeModal () {
      this.modal = false
		},
		getNewsDetails (details) {
			console.log(details)
      this.loadingModal = false
      this.modal = true
      this.news_info = details
		}
  },
  computed: {},
  mounted() {
    this.section = 'home'
    this.loadData(this.section)
  },
};
</script>
<style>
.fade-in {
  animation: fadein 1.2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.latest {
  margin: 60px 0;
  padding: 20px 35px 40px;
  box-sizing: border-box;
}
.change-section {
  margin-bottom: 60px;
}
.select-section {
  padding: 10px;
  width: 300px;
  text-transform: capitalize;
}
.paginate-links li {
  display: inline;
  padding: 15px;
}
.paginate-links li a {
  cursor: pointer;
}
.paginate-links li a:hover {
  color: #999;
}
.paginate-links li.number.active {
  font-weight: 800;
  color: #3a3a3a;
}
li.prev.disabled a,
li.next.disabled a {
  cursor: not-allowed;
  color: #a5a5a5;
}
</style>
