<template>
  <div id="app">
    <navbar/>
    <router-view/>
  </div>
</template>
<script>
import Navbar from '@/components/Navbar.vue'

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>
<style>
body {
  padding: 0;
  margin: 0;
  background-color: #ececec;
}
a { color:#333 }
a:link {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
#app {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333;
}
</style>
